input, button{
 margin: .5rem;
 padding: .3rem;
 font-size: 1.2rem;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.mainContainer {
  height: 500px;
  width: 500px;
  border-radius: 1rem;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quesButton{
min-width: 10rem;
}
.question{
  display: flex;
  flex-direction: column;
}